@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

body {

  overflow-x: hidden;
}

.app__page {
  display: flex;
}

.app__posts {
  display: flex;
  justify-content: center;

  z-index:1;
}